.loading {
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.image-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.breed-item:hover {
  background-color: blue;
  color: white;
  transform: scale(1.01);
  transition: 0 ease-in-out 0.2s;
  cursor: pointer;
}
