.loading {
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.image-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
